.lab-footer {
    background: var(--primary);
    color: #fff;
    padding: 40px 60px 60px;
    width: 100%;
    font-family: var(--font-body);
}

.footer-top {
    display: grid;
    grid-template-columns: 350px 1fr 250px;
    gap: 40px;
    align-items: flex-start;
    margin-bottom: 40px;
}

.footer-image img {
    width: 100%;
    height: auto;
    border-radius: var(--radius-md);
}

.footer-middle h2,
.footer-middle h3 {
    color: #fff;
    margin-bottom: 6px;
}

.footer-middle h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: -5px;
}

.footer-middle h3 {
    font-size: 18px;
    font-weight: 600;
}

.footer-desc {
    font-size: 14px;
    color: #dcdcdc;
    margin: 10px 0 18px;
    line-height: 1.6;
    max-width: 90%;
}

.footer-bullets {
    list-style: none;
    padding: 0;
    margin-top: 18px;
}

.footer-bullets li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-bullets i {
    color: var(--secondary);
    font-size: 18px;
}

.footer-right h4 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 14px;
    margin-top: 75px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 16px;
    border-left: 2px solid var(--secondary);
}

.footer-links li i {
    color: var(--secondary);
    font-size: 18px;
    margin-right: 5px;
}

.footer-links li a {
    color: #fff;
    font-size: 14px;
    transition: 0.2s ease;
}

.footer-links li a:hover {
    color: var(--secondary);
}

.footer-divider {
    width: 100%;
    height: 1.5px;
    background: var(--secondary);
    margin: 35px 0;
    opacity: 0.8;
}

.footer-bottom {
    text-align: center;
    color: #dcdcdc;
}

.footer-center-icon {
    font-size: 13px;
    margin-bottom: 10px;
}

.footer-center-icon i {
    color: var(--secondary);
    font-size: 18px;
    margin-right: 5px;
}

.footer-bottom p {
    font-size: 13px;
    margin-bottom: 4px;
}
