main, .content, .tentangKami {
    margin-top: 83.5px;
}

.sidebar {
    width: 220px;
    position: fixed;
    top: 83.5px;
    left: 0;
    height: calc(100vh - 83.5px);

}

.navbar {
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.15) !important;
    background-color: #fff !important;
}

#header-placeholder {
    grid-column: 1 / 3;
    width: 100%;
}

.content {
    position: relative;
    margin-left: 220px; 
    width: calc(100% - 220px);
    padding: 0px;
    margin-top: 83.5px;   
    box-sizing: border-box; 
}

.layanan-foto {
    width: 100%;
    height: 180px;
    background: var(--primary);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;     
}
h1 {
    color: var(--background);
    font-size: 42px;
    text-shadow: 0 4px 4px rgba(0,0,0,0.6) !important;
    
}

.Sarpras{
    padding: var(--space-7);
    position: relative;
    overflow: hidden;
}
.Sarpras::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: -150px;
    width: 600px;
    height: 600px;
    background-image: url('../../img/aura.png');
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: 0;
}
.Sarpras::after {
    content: '';
    position: absolute;
    top: -300px;     
    right: -150px;   
    width: 500px;    
    height: 500px;
    background-image: url('../../img/aura.png');
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    opacity: 0.8;    
    z-index: 0;
}
.Sarpras > * {
    position: relative;
    z-index: 1; 
}

.Sarpras h2 {
    text-align: center;
}
.sarpras-line {
    border: none;
    height: 1.5px;
    background-color:var(--secondary); 
    width: 100%; 
    margin-bottom: var(--space-7); 
    margin-top: var(--space-5);
}
.Sarpras-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    max-width: 1200px;
    margin: auto;
}
.Sarpras-card{
    background: var(--primary);
    width: 100%;
    max-width: 280px;   
    min-height: 240px;
    border-radius: var(--radius-xl);
    color: var(--background);
    padding: var(--space-3);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.Sarpras-card:hover{
    transform: scale(1.08); 
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.25);
}

.Sarpras-card h3 {
    color: white; 
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.Sarpras-img {
    width: 100%;
    height: 220px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px;
    margin-bottom: 10px;
}

.Sarpras-card img,
.Sarpras-dummy {
    width: 100%;
    height: 220px;          
    object-fit: cover;      
    border-radius: 6px;
    margin-bottom: 10px;
    background-color: #ffffff;
}

.button-container {
    justify-content: center;
    margin-top: var(--space-7);
    display: flex;
    gap: var(--space-3);
}
.btn {
    border-radius: 50% !important;
    width: 36px;
    height: 36px;
    border: none;
    cursor: pointer;
    font-size: var(--small-size) !important;
    background: var(--primary);
    color: #fff;
    display: inline-block;
    align-items: center; 
    justify-content: center; 
}

.btn:hover {
    background: var(--secondary);
    color: var(--primary);
}

/* layanan */
.layanan-title{
    padding: var(--space-7);
    position: relative;
    overflow: hidden;
    margin-bottom: var(--space-7);
}
.layanan-title::before {
    content: '';
    position: absolute;
    opacity: 0.7;
    bottom: 100px;
    right: -20vw;        
    width: 500px;
    height: 500px;
    background-image: url('../../img/aura.png');
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: -1;
}

.layanan-title > * {
    position: relative;
    z-index: 1; 
}
.layanan-title h2 {
    text-align: center;
}
.Sarpras-deskripsi {
    font-size: 0.9rem;
    color: #555;
    margin-top: 8px;
    text-align: center;
    line-height: 1.4;
}
.layanan-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    justify-items: center;
}

.layanan-card {
    background: var(--primary);
    color: var(--background);
    max-width: 240px;
    width: 100%;
    min-height: 360px;
    border-radius: var(--radius-md);
    display: flex;
    flex-direction: column;
    padding: var(--space-4);
}

.title-konsul {
    color: var(--background) !important;
    font-size: 18px !important;
    text-align: center;
    border-bottom: 1px solid var(--secondary);
    padding-bottom: var(--space-4);
    margin-bottom: var(--space-4);
    height: 80px; 
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.layanan-card p {
    font-size: 13px !important;
    line-height: 1.6;
    margin-bottom: var(--space-5);

    display: -webkit-box;
    -webkit-line-clamp: 11;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.layanan-card h2{
    font-size: 18px;
}
.btn-box {
    background: var(--secondary);
    border-radius: var(--radius-md); 
    width: 88px;
    height: 32px;
    line-height: 40px;     
    text-align: center;
    display: inline-block; 
    font-weight: 700;
    cursor: pointer;
    font-size: 13px !important;
    color: var(--primary);
    align-self: flex-end;
    margin-top: auto;     
    flex-shrink: 0;        
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-box:hover{
    background-color: #e0a800;;
    color: #fff;
}

.btn-simpan2{
    position: absolute;
    bottom: 10px;
    right: 70px;
    background-color: var(--secondary);
    color: var(--primary);
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

.btn-simpan2:hover{
    background-color: #FFD233; 
    transform: scale(1.05);
}

#header-placeholder {
    z-index: 99999;
    display: block;
    height: 0 !important;
}
body:not(.no-header) {
    padding-top: 83px !important;
}

