.save-button-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.btn-save {
    padding: 10px 25px;
    background: #0077ff;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-save:hover {
    background: #005fcc;
}