.content {
    margin-left: 220px;
    padding: 0;
    width: calc(100% - 220px);
    min-height: 100vh;
    background: #fff;
}

.navbar {
    background-color: #ffffff !important;
}

.page-header {
    background: #fff;
    padding: 0px 20px 8px 20px;
    margin-top: -6px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header-left {
    display: flex;
    flex-direction: column;  
    align-items: center;
    gap: 25px;
}

.title-row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.title-row h1 {
    font-size: 50px;   
    font-weight: 700;
    margin: 0;
    margin-left: 70px;
}

.back-button {
    width: 50px;
    height: 50px;
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: 0.2s;
    transform: translateX(-150px);
}

.back-button:hover {
    background: #f0f0f0;
}

.back-button i {
    font-size: 28px;
    color: #333;
}

.add-button {
    width: 50px;
    height: 50px;
    border: none;
    background: #FFB84D;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 10px rgba(255, 184, 77, 0.3);
    transition: all 0.3s ease;
}

.add-button:hover {
    background: #FF9A3D;
    transform: scale(1.05);
}

.add-button i {
    font-size: 20px;
    color: black;
}

.search-box {
    display: flex;
    align-items: center;
    gap: 15px;
    background: #e0e0e0;
    padding: 20px 10px;
    border-radius: 19px;
    min-width: 320px;
    transform: translateX(-40px);
    margin-top: 40px;
}

.search-box i {
    color: #999;
    font-size: 20px;
}

.search-box input {
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
    color: #333;
    width: 100%;
}

.search-box input::placeholder {
    color: #999;
}

.table-section {
    padding: 20px 60px;
}

.table-wrapper {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
   
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.data-table thead {
    background: #FFB84D;
    box-shadow: 0 5px 5px rgba(10, 6, 1, 0.2);
}

.data-table thead th {
    padding: 18px 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    border: none;
}

.data-table tbody tr {
    border-bottom: 1px solid #000;
    transition: 0.2s;
}

.data-table tbody tr td {
    padding: 18px 20px;
    font-size: 17px;
    color: #000;
    vertical-align: middle;
    text-align: center;
}

.data-table tbody tr td:first-child {
    font-weight: 600;
}

.file-preview {
    width: 90px;
    height: 90px;
    background: #e0e0e0;
    border-radius: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.file-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.action-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.btn-edit,
.btn-delete {
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.btn-edit {
    background: #FFB84D;
}

.btn-edit:hover {
    background: #FF9A3D;
    transform: translateY(-2px);
}

.btn-edit i {
    color: black;
    font-size: 14px;
}

.btn-delete {
    background: #FEBE11;
}

.btn-delete:hover {
    background: #FF9A3D;
    transform: translateY(-2px);
}

.btn-delete i {
    color: black;
    font-size: 14px;
}

.save-button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 70px;
}

.btn-save {
    background: #FEBE11;
    color: black;
    border: none;
    padding: 12px 40px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.btn-save:hover {
    background: #FF9A3D;
}
